<template>
  <!-- Vista del Contenido Caro y Resumen de una Venta a Realizar -->
  <div id="container">
    <b-navbar type="light" variant="Secondary">
      <b-container>
        <b-row class="justify-content-md-center">
          <b-col>
            <p class="h4" style="color:white;">Resumen de Productos - Caja</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <p class="h4" style="color:white;">{{ new Date().toLocaleString() }}</p>
          </b-col>
        </b-row>
      </b-container>
    </b-navbar>
    <br />
    <br />
    <!-- Resumen de Venta y Carro.-->
    <b-container>
      <b-row>

        <!-- Cantenido del Carro (Mostrado mediante una Tabla) -->
        <b-col class="card">
          <TablaCaja :contenido="carro"/>
        </b-col>
        <b-col col lg="1"></b-col>

        <!-- Valores de la Venta y medios de Pago. -->
        <b-col>
          <b-row class="card resumenProductos">
            <p>Cantidad de productos: {{ carro.length }}</p>
            <p>Total sin impuestos: {{ valorTotal }}</p>
            <p>Impuestos: Sin Impuestos</p>
            <p class="h4" style="font-weight: bold;">Total: {{ valorTotal }}</p>
          </b-row>
          <br />
          <b-row class="card pagoProductos">
            <div>
              <b-form-group label="Escoge métodod de pago">
                <b-form-checkbox-group v-model="selected" :options="options" plain></b-form-checkbox-group>
              </b-form-group>
            </div>

            <!-- Boton: Concreta la venta y envia al "Vendedor" al la Vista Inicial -->
            <router-link to="/"
                tag="button"
                class="w-25 p-2 mb-1 btn bg-danger text-light"
                @click.native="vender(); makeToast();"
                >
                Vender
            </router-link>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import TablaCaja from "../components/TablaCaja.vue";
import { mapState, mapMutations } from "vuex";
import axios from 'axios'
export default {
  components: {
    TablaCaja,
  },
  data() {
    return {
      selected: [], //
      options: [
        { text: "Webpay", value: "webpay" },
        { text: "Efectivo", value: "efectivo" },
      ]
    };
  },
  computed: {
    //Sacar datos de Vuex.
    ...mapState(["carro"]),

    //Calcular el valor Total de la venta.
    valorTotal() {
      let valor = 0;
      this.carro.forEach(element => {
        for (let i = 0; i < element.cantidad; i++) {
          valor = valor + element.precioU;
        }
      });
      return valor;
    }
  },
  methods: {
    ...mapMutations(["vaciarCarro"]),
    //Realizar una Venta, enviar datos por ICE.
      vender() {
        let venta = {
            sellerId: 0,
            arrayVenta: this.carro,
            valor: this.valorTotal
        }
        this.vaciarCarro();
        axios.post('/postVenta', venta);
      },
      makeToast(append = false) {
        this.toastCount++
        this.$bvToast.toast(`Tu venta se ha realizado con éxito`, {
          title: 'Venta exitosa',
          autoHideDelay: 10000,
          appendToast: append
        })
      }
  }
};
</script>

<style>
#container {
  background-image: url("../assets/wallpaper.jpg");
  height: 937px;
}
.resumenProductos,
.pagoProductos {
  padding: 3%;
}
</style>