<template>
  <div id="container">
      <b-container class="buttons" fluid="sm">
        <b-row>
            <b-col>
                <router-link to="/vendedor" tag="button" class="w-25 p-3 mb-1 btn bg-danger text-light">Vendedor</router-link>
            </b-col>
        </b-row><br>
        <b-row>
            <b-col>
                <router-link to="/registro" tag="button" class="w-25 p-3 mb-1 btn bg-danger text-light">Registro de Boletas</router-link>
            </b-col>
        </b-row>
      </b-container>
  </div>
</template>

<script>
export default {

}
</script>
    
<style>
    #container{
        background-image: url('../assets/wallpaper.jpg');
        max-width: 1920px;
        height: 920px;
    }
    .buttons{
        margin-inline-end: -20%;
        padding-top: 32%;
    }
</style>