<template>
<div id="container">
    <p class="h2 title" style="text-align:center; color:white;">Registros de ventas</p>
    <b-container id="content">
        <b-row>
            <b-col>
                <b-form-datepicker id="example-datepicker" v-model="value" class="mb-2"></b-form-datepicker>
            </b-col>
            <b-col>
                <b-nav-form>
                    <b-form-input class="mr-sm-2" placeholder="Buscar Producto"></b-form-input>
                </b-nav-form>
            </b-col>
        </b-row>
        <br />
        <b-row>
            <b-col>
                <b-card>
                    <Boleta :ventas="ventas" />
                </b-card>
            </b-col>
        </b-row>
        <br />
        <router-link to="/" tag="button" class="w-25 p-3 mb-1 btn bg-success text-light">Volver</router-link>
    </b-container>
</div>
</template>

<script>
import Boleta from "../components/Boleta.vue";
import {
    mapState,
    mapActions
} from "vuex";
export default {
    components: {
        Boleta,
    },
    data() {
        return {
            value: "",
        };
    },
    computed: {
        ...mapState(["ventas"]),
    },
    created() {
        this.getVentas();
    },
    methods: {
        ...mapActions(["getVentas"]),
    },
};
</script>

<style>
#container {
    background-image: url("../assets/wallpaper.jpg");
    max-height: 2300px;
    max-height: 2300px;
}

#content {
    padding-top: 4%;
}

.title {
    padding-top: 2%;
}
</style>
