<template>
  <div id="container">
    <b-navbar type="light" variant="Secondary">
      <b-container>
        <b-row>
          <b-col>
            <p class="h3" style="text-align:center; color:white;">Stock de Productos</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <p class="h3" style="color:white;">{{ new Date().toLocaleString() }}</p>
          </b-col>
        </b-row>
      </b-container>
    </b-navbar>
    <br />
    <b-container>
      <b-row>
        <b-col>
          <b-nav-form>
            <b-form-input v-model="buscador" class="mr-sm-2" placeholder="Buscar Producto"></b-form-input>
          </b-nav-form>
        </b-col>
      </b-row>
      <br />
      <b-card>
        <b-row>
          <b-col>
            <TablaStock :stock="filterStock" />
          </b-col>
        </b-row>
        <router-link
          to="/vendedor"
          tag="button"
          class="w-25 p-3 mb-1 btn bg-success text-light"
        >Volver</router-link>
      </b-card>
    </b-container>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import TablaStock from "../components/TablaStock.vue";
export default {
  components: {
    TablaStock,
  },
  data() {
    return {
      buscador: "",
    };
  },
  computed: {
    ...mapState(["stock"]),
    filterStock() {
      return this.stock.filter( (array) => {
        if (array.cantidad == 0) {
          array._rowVariant = "danger";
        }
        return array.nombre.toLowerCase().includes(this.buscador.toLowerCase());
      });
    },
  },
  created() {
    this.getStockData();
  },
  methods: {
    ...mapActions(["getStockData"]),
  },
};
</script>

<style>
#container {
  background-image: url("../assets/wallpaper.jpg");
  height: 937px;
}
</style>