<template>
  <div id="container">
    <b-navbar type="light" variant="Secondary">
      <b-container>
        <b-row>
          <b-col>
            <p class="h3" style="text-align:center; color:white;">Seleccionar Productos</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-nav-form>
              <b-form-input class="mr-sm-2" placeholder="Buscar Producto"></b-form-input>
            </b-nav-form>
          </b-col>

          <b-col>
            <router-link
              to="/stock"
              tag="button"
              class="w-20 p-1 mb-1 btn bg-success text-light"
            >Stock</router-link>
          </b-col>

          <!-- Opcional: Permite desplegar la prevista del Carro -->
          <b-col>
            <div class="h3 mb-0">
              <b-icon-basket-fill v-b-toggle.sidebar-footer></b-icon-basket-fill>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </b-navbar>
    <br />

    <!-- Container con los Productos -->
    <b-container class="card">
      <b-row>
        <b-col v-for="producto in stock" :key="producto.id">
          <Producto @clicked="show(producto)" :nombre="producto.nombre" :precio="producto.precioU" />
        </b-col>
      </b-row>
      <br />
      <router-link to="/caja" tag="button" class="w-25 p-3 mb-1 btn bg-danger text-light">Caja</router-link>
    </b-container>

    <!-- Permite Añadir un producto y la cantidad deseada al Carro -->
    <Modal id="modal" :producto="producto" />

    <!-- Opcional: Para previsualizar el contenido de Carro -->
    <b-sidebar id="sidebar-footer" aria-label="Sidebar with custom footer" no-header shadow>
      <template v-slot:footer="{ hide }">
       <div class="d-flex bg-dark text-light align-items-center px-3 py-2">
        <strong class="mr-auto">Total: {{ valorTotal }}</strong>
        <b-button size="sm" @click="hide">Close</b-button>
       </div>
      </template>
      <div class="px-3 py-2">
        <b-table striped hover :items="carro" :fields="fields"></b-table>
      </div>
    </b-sidebar>
  </div>
</template>

<script>
import Modal from "../components/Modal.vue";
import Producto from "../components/Producto.vue";

import { mapState, mapActions } from "vuex";

export default {
  components: {
    Producto,
    Modal,
  },
  data() {
    return {
      producto: {},
      //Campos a mostrar en la tabla de Carro.
      fields: [
        "nombre",
        {
          key: "precioU",
          label: "Precio/U",
        },
        "cantidad",
      ],
    };
  },
  computed: {
    //Sacar datos de Vuex.
    ...mapState(["carro"]),
    ...mapState(["stock"]),

    //Calcular el valor Total de la venta.
    valorTotal() {
      let valor = 0;
      this.carro.forEach(element => {
        for (let i = 0; i < element.cantidad; i++) {
          valor = valor + element.precioU;
        }
      });
      return valor;
    }
  },
  created() {
    this.getStockData();
  },
  methods: {
    ...mapActions(["getStockData"]),
    show(item) {
      this.producto = item;
    },
  },
};
</script>

<style>
#container {
  background-image: url("../assets/wallpaper.jpg");
  max-height: 1500px;
}
.card {
  padding: 2%;
}
</style>