<!-- Crear boleta y generar datos desde ventas Array-->
<template>
    <div class="row rowCard">
        <b-card bg-variant="light" header="Venta" class="text-center cardVentas" v-for="(venta, index) in ventas" :key="index">
            <b-card-text class="value">Vendedor: {{ venta.sellerId }}</b-card-text>
            <b-card-text style="text-align: left">Fecha: {{ venta.fecha.substring(0,10) }}</b-card-text>
            <b-card-text class="value">Productos: {{ venta.arrayVenta.length }} Tipos</b-card-text>
            <b-card-text class="value">Total: {{ venta.valor }}</b-card-text>

            <b-button block v-b-toggle="'accordion-'+index" variant="info">Información</b-button>

            <b-collapse :id="'accordion-'+index" class="info" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                    <div class="info" v-for="(eachItemBoleta, index) in venta.arrayVenta" :key="index">
                        <b-card-text>{{ eachItemBoleta.nombre }} x{{ eachItemBoleta.cantidad }} <strong style="padding-left:4em">${{ eachItemBoleta.precioU*eachItemBoleta.cantidad }}</strong></b-card-text>
                    </div>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
        };
    },
    props: {
        ventas: Array,
    },
    methods: {},
};
</script>

<style>
.cardVentas {
    margin: 1%;
    padding: 0.5%;
    max-width: 350px;
    text-align: left;
}

.rowCard {
    max-width: 1280px;
}

.info {
    text-align: left;
}

.value {
    font-weight: bold;
    text-align: left;
}
</style>
