<!-- Crear modal para utilizar al momento de comprar un productos. La modal consulta la cantidad del producto 
quieren comprar y envía la solicitud de compra-->
<template>
  <div>
    <b-modal
      id="modal-1"
      title="Producto Seleccionado"
      @ok="agregar()"
      :ok-disabled="producto.cantidad < cantidad || producto.cantidad <= 0|| cantidad === ''"
    >
      <b-container>
        <b-row>
          <b-col>
            <p class="my-4">Código:</p>
          </b-col>
          <b-col>
            <p class="my-4">{{producto.id}}</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <p class="my-4">Producto:</p>
          </b-col>
          <b-col>
            <p class="my-4">{{producto.nombre}}</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <p class="my-4">Descripción:</p>
          </b-col>
          <b-col>
            <p class="my-4">{{producto.descripcion}}</p>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <p class="bloque">Ingrese Unidades:</p>
            <p class="text" style="color:#000000">
              Disponibles: <strong>{{ producto.cantidad }}</strong> Unidades
            </p>
          </b-col>
          <b-col>
            <input class="bloque" type="number" min="0" placeholder="Ingresar Cantindad" v-model="cantidad" />
            <p class="text" v-if="producto.cantidad == 0">
              Producto <strong>NO</strong> esta Disponible
            </p>
            <p class="text" v-if="cantidad > producto.cantidad && producto.cantidad > 0">
              La cantidad no puede ser mayor al <strong>Disponible</strong>
            </p>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: {
    producto: Object,
  },
  data() {
    return {
      cantidad: ""
    };
  },
  methods: {
    ...mapMutations(["addCarro"]),
    agregar() {
      let texto = JSON.stringify(this.producto);
      let item = JSON.parse(texto);
      item.cantidad = Number.parseFloat(this.cantidad);
      this.addCarro(item);
      this.cantidad = "";
    },
  },
};
</script>

<style>
.text {
    color: #FE2E2E;
    display: block;
    margin-top: 0.25rem;
    font-size: 70%;
    font-weight: 400;
}
.bloque {
    margin-top:24px;
    margin-bottom: 0;
}
</style>
