<!-- Card que presentar el producto: nombre y precio de cada producto -->
<template>
<div @click="$emit('clicked')" v-b-modal.modal-1 >
    <b-card img-src="https://picsum.photos/600/300/?image=25" img-alt="Image" img-top tag="article" class="mb-2 cardProducto">
        <b-card-title>
            {{nombre}}
        </b-card-title>
        <b-card-text>
            ${{precio}}
        </b-card-text>
    </b-card>
</div>
</template>

<script>
export default {
    props: {
        nombre: String,
        precio: Number
    },
}
</script>

<style>
.cardProducto{
    min-height: 250px;
    min-width: 219px;
    max-width: 220px;
}
</style>
