<!-- Productos listos para ser vendidos. Resumen de la compra -->
<template>
  <div>
    <b-table striped hover :items="contenido" :fields="fields"></b-table>
  </div>
</template>

<script>
export default {
  props: {
    contenido: Array,
  },
  data() {
    return {
      //Campos y alias de Tabla.
      fields: [
        "nombre",
        "descripcion",
        {
          key: "precioU",
          label: "Precio/U",
        },
        "cantidad",
      ],
    };
  },
};
</script>

<style>
</style>
