<!-- Tabla que contiene los productos en stock. Los enseña por nombre y cantidades-->
<template>
<div>
    <b-table :items="stock" :fields="fields" striped responsive="sm">
        <template v-slot:cell(Detalle)="row">
            <b-button size="sm" variant="success" @click="row.toggleDetails" class="mr-2">{{ row.detailsShowing ? 'Ocultar' : 'Mostrar'}} Detalle</b-button>
        </template>

        <template v-slot:row-details="row">
            <b-card>
                <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right">
                        <b>{{ row.item.nombre }}</b>
                    </b-col>
                </b-row>

                <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right">
                        <b>Stock:</b>
                    </b-col>
                    <b-col>{{ row.item.stock }}</b-col>
                </b-row>

                <b-button size="sm" variant="danger" @click="row.toggleDetails">Ocultar</b-button>
            </b-card>
        </template>
    </b-table>
</div>
</template>

<script>
export default {
    props: {
        stock: Array
    },
    data() {
        return {
            //Campo a mostrar en la tabla y alias.
            fields: ["nombre", "descripcion",
            {
                key: 'precioU',
                label: "Precio/U"
            }, "cantidad"],
        }
    }
};
</script>

<style>
</style>
